---
import "../styles/global.css";
import PbImage from "./PbImage.astro";

const offre = Astro.props.offre;
---

<li class="offre" data-favori={offre.favori}>
    <PbImage record={offre} recordImage={offre.images[0]} />
    <h2>{offre.nomMaison}</h2>
    <a href={`/offres/id/${offre.id}`}>Voir plus</a>
</li>
