---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/OffreCard.astro";
import { getOffres } from "../js/backend.mjs";
import { filterByPrix } from "../js/backend.mjs";
let message = "";
const Offres = await getOffres();
if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const minPrix = parseInt((data.get("minPrix") as string) || "0");
    const maxPrix = parseInt((data.get("maxPrix") as string) || "0");

    if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
        const Offres = await filterByPrix(minPrix, maxPrix);
        if (Offres === null) {
            message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
        } else {
            message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
        }
    } else {
        message = "Veuillez entrer des valeurs valides pour le prix.";
    }
} else {
    const Offres = await getOffres();
}
---

<Layout titre="Offres">
    <h1 class="text-6xl font-bold text-blue-500 text-center mt-8 mb-8">
        Offres
    </h1>

    <button
        class="mt-3 mb-5 bg-blue-500 hover:bg-blue-600 textet-whi px-4 py-2 rounded text-sm transition-colors"
    >
        <a href="/offres/surface/80"
            >Voir les offres avec une surface de 80 m² ou plus
        </a>
    </button>

    <button
        id="favori-button"
        class="bg-orange-400 rounded-lg text-white p-2 m-5"
        >Afficher les favoris
    </button>
    <button
        class="mt-3 mb-5 bg-blue-500 hover:bg-blue-600 textet-whi px-4 py-2 rounded text-sm transition-colors"
    >
        <a href="/offres/add">Ajouter une offre </a>
    </button>
    <form action="/offres" method="POST">
        <input type="number" name="minPrix" placeholder="Prix minimum" />
        <input type="number" name="maxPrix" placeholder="Prix maximum" />
        <input type="submit" value="Filtrer par prix" />
    </form>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {Offres.map((offre) => <Card offre={offre} />)}
    </div>
</Layout>

<script>
    const button = document.getElementById("favori-button");
    let showOnlyFavorites = false;

    button?.addEventListener("click", () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres: NodeListOf<HTMLElement> =
            document.querySelectorAll(".offre");

        offres.forEach((offre) => {
            const isFavori = offre.dataset.favori === "true";

            if (showOnlyFavorites) {
                offre.style.display = isFavori ? "block" : "none";
                button.textContent = "Afficher tout";
            } else {
                offre.style.display = "block";
                button.textContent = "Afficher les favoris";
            }
        });
    });
</script>
